
db.driver=com.microsoft.sqlserver.jdbc.SQLServerDriver
db.url=jdbc:sqlserver://localhost:1433;databaseName=SmartPitch;encrypt=true;trustServerCertificate=true
db.user=
db.password=


google.client.id=
google.client.secret=
google.redirect.uri=http://localhost:8080/FootballManagement/login



facebook.client.id=
facebook.client.secret=
facebook.redirect.uri=http://localhost:8080/FootballManagement/LoginFacebookServlet

gemini.api.key=


cloudinary.cloud_name=
cloudinary.api.key=
cloudinary.api_secret=

email.sender.address=
email.sender.password=
email.smtp.host=smtp.gmail.com
email.smtp.port=587