<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet-mapping>
        <servlet-name>LoginFacebookServlet</servlet-name>
        <url-pattern>/LoginFacebookServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SubmitReportServlet</servlet-name>
        <servlet-class>controller.Stadium.SubmitReportServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminDashboardServlet</servlet-name>
        <url-pattern>/adminDashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AvatarUploadServlet</servlet-name>
        <url-pattern>/uploadAvatar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitReportServlet</servlet-name>
        <url-pattern>/submit-report</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>controller.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AvatarUploadServlet</servlet-name>
        <servlet-class>controller.Authentication.AvatarUploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDashboardServlet</servlet-name>
        <servlet-class>controller.Admin.AdminDashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserListServlet</servlet-name>
        <servlet-class>controller.Admin.UserManagementtServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserReportServlet</servlet-name>
        <servlet-class>controller.Admin.UserReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActivityLogServlet</servlet-name>
        <servlet-class>controller.Admin.ActivityLogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GeneralSettingServlet</servlet-name>
        <servlet-class>controller.Admin.GeneralSettingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginFacebookServlet</servlet-name>
        <servlet-class>controller.Authentication.LoginFacebookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/newservlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.Authentication.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SignupServlet</servlet-name>
        <servlet-class>controller.Authentication.SignupServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignupServlet</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>OTPServlet</servlet-name>
        <servlet-class>controller.Authentication.OTPServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OTPServlet</servlet-name>
        <url-pattern>/otp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <servlet-class>controller.Authentication.ForgotPasswordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <url-pattern>/forgotPassword</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
</web-app>
